* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #232232;
  color: white;
  // background-image: url('../public/mina-gradient-bg.png');
  // background-repeat: no-repeat;
  // background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}
